<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/clase.css">
</head>
<body>
    <h1>Bienvenidos a mi página web...</h1>
    <ul>
        <li>Productos</li>
        <li>Usuarios</li>
    </ul>
    <img src="../public/Pantalla.jpg" alt="pelota de fútbol">
    <h2>Noticias sobre Fútbol:</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, vero assumenda ipsa, atque facere ea reprehenderit eum, optio earum veniam incidunt adipisci iure quibusdam. Quae aliquid adipisci soluta. Cupiditate, non!</p>
</body>
</html>